:root {
  --btn-height-sm: 2rem;
  --btn-height-md: 2.4rem;
  --btn-height-lg: 3.1rem;

  --btn-width-sm: 2.6rem;
  --btn-width-md: 3.883rem;
  --btn-width-lg: 5.015rem;
}

.saving-button,
.item-number-button,
.add-item-button,
.modern-button,
.levels-button,
.modern-input,
.modern-dropdown,
.flat-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  color: var(--dark-grey);
  border-radius: 0.58rem;

  height: var(--btn-height-md);
  width: var(--btn-width-md);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.comment {
  box-shadow: 2px 2px 1.5px 0px var(--blue-t2),
    inset -2px -2px 5px 0px var(--white-t);
  background-color: var(--white);
  border: 1px solid var(--white2);
}

.saving-button,
.item-number-button,
.add-item-button,
.modern-button,
.levels-button,
.modern-input,
.modern-dropdown,
.flat-button {
  box-shadow: 0px 0px 0px 2px var(--blue-t);
  background-color: var(--grey-t2);
  border: none;
}
.item-number-button,
.add-item-button {
  color: var(--white2);
}

/* Size modifiers */
.smaller {
  height: calc(var(--btn-height-sm) * 0.8) !important;
  width: calc(var(--btn-width-sm) * 0.8) !important;
}

.small {
  height: var(--btn-height-sm) !important;
  width: var(--btn-width-sm) !important;
}

.small-short {
  height: var(--btn-height-sm) !important;
  width: calc(var(--btn-width-sm) / 2) !important;
}

.small-middle {
  height: var(--btn-height-sm) !important;
  width: calc(var(--btn-width-sm) * 1.7) !important;
}

.small-middle-long3 {
  height: var(--btn-height-sm) !important;
  width: calc(var(--btn-width-sm) * 2) !important;
}

.small-middle-long2 {
  height: var(--btn-height-sm) !important;
  width: calc(var(--btn-width-sm) * 3.1) !important;
}

.small-long {
  height: var(--btn-height-sm) !important;
  width: calc(var(--btn-width-sm) * 3.2) !important;
}

.small-longer {
  height: var(--btn-height-sm) !important;
  width: calc(var(--btn-width-sm) * 4) !important;
}

.medium {
  height: var(--btn-height-md) !important;
  width: var(--btn-width-md) !important;
}

.medium-short {
  height: var(--btn-height-md) !important;
  width: var(--btn-width-sm) !important;
}

.medium-long {
  height: var(--btn-height-md) !important;
  width: calc(var(--btn-width-md) * 2.5) !important;
}

.large {
  height: var(--btn-height-lg) !important;
  width: var(--btn-width-lg) !important;
}

.full {
  width: 100% !important;
  max-width: none !important;
}

@media (max-width: 768px) {
  :root {
    --btn-width-sm: 13vw;
  }

  .small-long {
    height: var(--btn-height-sm) !important;
    width: calc(var(--btn-width-sm) * 3.3) !important;
  }
}